RESTIC_REPOSITORY=sftp:{{ storagebox_user }}@{{ storagebox_host }}:/opi-k8s/restic
RESTIC_PASSWORD_FILE=/etc/restic/password
RESTIC_CACHE_DIR=/var/cache/restic
RESTIC_COMPRESSION=auto
# Storage Box speaks SSH on port 23
RESTIC_SFTP_COMMAND=ssh -p 23 -i /etc/restic/storagebox_ed25519 -o UserKnownHostsFile=/etc/restic/known_hosts -o StrictHostKeyChecking=yes {{ storagebox_user }}@{{ storagebox_host }} -s sftp
